<div class="container">
  <h2>Add a New Book</h2>
  <form (ngSubmit)="submitBook()" #bookForm ="ngForm">
    <input [(ngModel)]="book.name" name="name" placeholder="Book Title" required />
    <input [(ngModel)]="book.year" name="year" type="number" placeholder="Year" required  #year="ngModel"/>
    <div *ngIf="year.invalid && year.touched" class="error"></div>
    <input [(ngModel)]="book.author" name="author" placeholder="Author" />
    <input [(ngModel)]="book.image" name="image" type="url" placeholder="Cover Image URL" /> 
    <textarea [(ngModel)]="book.description" name="description" rows="4" placeholder="Description"></textarea>
    <input
      [(ngModel)]="tagInput"
      name="tags"
      type="text"
      placeholder="Tags (comma-separated)"
      (blur)="updateTags()" />
      
    

    <input
    [(ngModel)]="book.stock"
    name="stock"
    type="number"
    placeholder="Stock"
    min="0"
  />
  
  <input
    [(ngModel)]="book.averageRating"
    name="rating"
    type="number"
    placeholder="Rating (0-5)"
    min="0"
    max="5"
    step="0.1"
  />
  
 

  <input
  [(ngModel)]="book.price"
  name="price"
  type="number"
  placeholder="Price"
  step="0.01"
/>

<input
  [(ngModel)]="book.discount"
  name="discount"
  type="number"
  placeholder="Discount (%)"
  min="0"
  max="100"
/>

<button
  type="button"
  (click)="book.isBestseller = !book.isBestseller"
  [class.active]="book.isBestseller"
>
  {{ book.isBestseller ? '★ Bestseller' : '☆ Mark as Bestseller' }}
</button>

    <input [(ngModel)]="book.category" name="category" placeholder="Category" />
    <input [(ngModel)]="book.publisher" name="publisher" placeholder="Publisher" />
    <input [(ngModel)]="book.language" name="language" placeholder="Language" />




    <button type="submit" [disabled]="bookForm.invalid" >Add Book</button>
  
  </form>
  <div class="links">
    <a routerLink="/home">Return to Home</a>
  </div>
</div>
